.btn-product {
    border-radius: 50px;
   margin:  20px 0;
  

}



.card-top {
    position: relative; 

    .card-img-top1 {

        width: 100%;
        position: relative;
    }

    .product-img2 {
        width: 100%;
        position: absolute;
        inset: 0;
        opacity: 0;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;

        .card-img-top2 {
            width: 100%;
        }
    }

    a {
        color: #fff;
        border: 1px solid #fff;
        padding: 7px 14px;
        background-color: orange;
        display: inline-block;
        transform: translate(95px, -60px);

    }

    & :hover {
        opacity: 1;
        box-shadow: 0 0 5px #fff;

    }

    .discount {
        position: absolute;
        top: 0;
        right: 0;
        background: #e94560;
        padding: 3px 10px;
        font-size: 12px;
        border-radius: 50px;
        color: #fff;
        margin: 10px;
    }
}

.card-body {
    .card-title {
        
        font-size: 14px;
    }
    .card-rate {
        font-size: 15px;
        color: #ffcd4e;
        margin: 5px 5px 5px 0;;
    }

    .price {
        color: #e94560;
        font-size: 17px;
        font-weight: 500;
    }
    .price-btn {
        background: none;
        color: #e94560;
        font-size: 20px;
        transition: 0.5s;
        border: 1px solid rgb(3 0 71 / 9%);
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }

}
@media screen and (max-width:768px) {
   .btn-product {
    margin: 0;
   }
    
  }