@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
 

}
html {
  scroll-behavior: smooth;
  overflow-x:hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  overflow-x:hidden;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 ;
  max-width: 1500px;
}


